---
import ButtonAstroComponent from "./../components/button.component.astro"

const {
    id = "",
    formAction = ""
} = Astro.props

const response = await fetch(`${import.meta.env.API_URL}misc/messageTypes/${import.meta.env.PUBLIC_APP_SLUG}/`)
const data = await response.json()
const { messageTypes } = data
---
<section id={id} class="section section-content">
    <div class="container container p-v-y-400">
        <form class="contact-form" action={formAction} method="post" data-element="contact-form">
            <div class="form-group">
              <label for="name" class="form-label form-label-required"><i class="fa-solid fa-user"></i> Name</label>
              <input type="text" name="name" id="name" class="form-field" placeholder="John Doe" required>
            </div>
            <div class="form-group">
              <label for="email" class="form-label form-label-required"><i class="fa-solid fa-envelope"></i> Email</label>
              <input type="email" name="email" id="email" class="form-field" placeholder="johndoe@example.com" required>
            </div>
            <div class="form-group">
              <label for="message_type_id" class="form-label form-label-required"><i class="fa-solid fa-pen"></i> Subject</label>
              <select name="message_type_id" id="message_type_id" class="form-field" required>
                <option value="">- Choose Subject -</option>
                { messageTypes.data.map((messageType: any) => (
                    <option value={messageType.id}>{messageType.title}</option>
                )) }
              </select>
            </div>
            <div class="form-group contact-form-3-col">
              <label for="message" class="form-label form-label-required"><i class="fa-solid fa-message"></i> Message</label>
              <textarea name="message" id="message" class="form-field" rows="4" required placeholder="Your message"></textarea>
            </div>
            <div class="btn-container contact-form-3-col">
              <ul class="form-status-list" data-element="contact-form-status">
                <li class="text-danger-400">Error</li>
              </ul>
              <p class="text-secondary-400 m-v-b-300">* required fields</p>
              <ButtonAstroComponent className="btn-secondary btn-form btn-slide" type="submit">
                Submit <i class="fa-solid fa-circle-notch fa-spin"></i>
              </ButtonAstroComponent>
            </div>
        </form>
    </div>
</section>