---
import "./../styles/main.scss"
import favicon from "./../styles/images/favicon-32x32.png"

import HeaderAstroComponent from "./../components/header.component.astro"
import FooterAstroComponent from "./../components/footer.component.astro"
import DialogAstroComponent from "./../components/dialog.component.astro"
import LinkAstroComponent from "./../components/link.component.astro"

const response = await fetch(`${import.meta.env.APP_URL}`)
const data = await response.json()
const { meta_title, meta_description, meta_author, meta_keywords, title, released_at } = data.apps[0]
const { latest, years, pageClass } = Astro.props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={meta_author}/>
		<meta name="description" content={meta_description}/>
		<meta name="keywords" content={meta_keywords}/>
		
		<title>{meta_title}</title>

		<link rel="shortcut icon" type="image/png" href={favicon} />

		<script is:inline defer src="./scripts/main.js"></script>
        <script is:inline defer src="https://kit.fontawesome.com/1b82ea5cb2.js" crossorigin="anonymous"></script>
		<script is:inline defer src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/dayjs.min.js"></script>
	</head>
	<body id="top" class={"body " + pageClass}>
		<HeaderAstroComponent title={title} latest={latest} years={years} />
        <main class="main">
			<slot />
		</main>
		<FooterAstroComponent title={title} metaAuthor={meta_author} releasedAt={released_at} />

        <DialogAstroComponent />
        <LinkAstroComponent href="#top" className="btn-top">
            <i class="fa-solid fa-chevron-up"></i>
        </LinkAstroComponent>
	</body>
</html>
